<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="AzureTableConnectionString" value="DefaultEndpointsProtocol=https;AccountName=nextgentest;AccountKey=wfE+VTqj1uN04FiMcYoA1SOAt8fn9HJSMm6CI8CWDaHweoGFc2o1HR8gE+TYhYbo3mD4tP1nvXkHm5IlljS1qg==;TableEndpoint=https://nextgentest.table.core.windows.net/;" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
</configuration>